<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
  <head>
  </head>
  <body>
    <div id="jig-body">
      <div id="jig-root"></div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.11.2/react.js"></script>
      <script src="/js/out/goog/base.js"></script>
      <script src="/js/pixels_against_humanity_client.js"></script>
      <script>goog.require('apraxis.client.jig');</script>
      <script id="component-require">goog.require('someproject');</script>
      <script id="component-invoke">apraxis.client.jig._main(someproject.somecomponent);</script>
    </div>
  </body>
</html>
